<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Riadiaci panel</h1>
    <div id="addAst">
        <h2>Pridať asteroid</h2>
        <form action="/admin" method="post" autocomplete="off">
            <div>
                Narazí o:
                <input type="text" name=time placeholder="HH:MM:SS">
            </div>
            <div>
                Správa pri náraze:
                <textarea required name="message" id="" cols="50" rows="10"></textarea>
            </div>
            <button>Odoslať</button>
        </form>
    </div>
    <div id="listAst">
        <h2>Zoznam asteroidov</h2>
        <% asteroids.forEach((asteroid) => { %>
            <% if(asteroid.nearest == 0) { %>
                <p><%= asteroid %></p>
            <% } %>
        <% }) %>
    </div>
</body>
</html>