<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(alarmStatus == "active") { %>
        <meta http-equiv="refresh" content="1">
    <% } %>
    <% if(alarmStatus == "upcoming") { %>
        <meta http-equiv="refresh" content="30">
    <% } %>
    <title>Admin Panel</title>
</head>
<body>
    <h1>Riadiaci panel</h1>
    <div id="addAst">
        <h2>Pridať asteroid</h2>
        <form action="/admin/add" method="post" autocomplete="off">
            <div>
                Vyradí systémy na:
                <input type="text" name=time placeholder="HH:MM:SS">
            </div>
            <div>
                Správa pri náraze:
                <textarea required name="message" id="" cols="50" rows="10"></textarea>
            </div>
            <button>Odoslať</button>
        </form>
    </div>
    <div id="listAst">
        <h2>Status</h2>
        <form action="/admin/reset" method="post">
            <button>Reset</button>
        </form>
        <!-- here -->
        <% if(alarmStatus == "active") { %>
            <h3>Alarm je aktívny</h3>
            <p>Odpočet skončí o: <%= timeRem %></p>
        <% } %>
        <% if(alarmStatus == "upcoming") { %>
            <h3>Alarm sa spustí o 30 sekúnd</h3>
        <% } %>
        <% if(alarmStatus == "none") { %>
            <h3>Momentálne sa nič nedeje</h3>
        <% } %>
    </div>
</body>
</html>