<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroids</title>
    <link rel="stylesheet" href="/stylesheets/asteroids_style.css">
    <meta http-equiv="refresh" content="1">
</head>
<body>
    <% if(alarmStatus == "none" || alarmStatus == "upcoming") { %>
    <div id="radar" class="row">
        <img src="/images/radar.gif" alt="radar">
    </div>
    <div id="data" class="row">
        <div class="image">
            <img src="/images/em_logo.png" alt="expedice mars logo">
        </div>
        <div id="asteroid-list">
            <% asteroids.forEach((asteroid) => { %>
                <div>
                    <p>Distance: <%= Math.floor(asteroid.dist) %> m</p>
                    <p>Energy: <%= asteroid.energy %> mJ</p>
                </div>
            <% }) %>
        </div>
    </div>
    <% } else { %>
        <p>Message: <%= message %></p>
        <p>Time remaining: <%= timeRem %></p>
    <% } %>
</body>
</html>