<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample page</title>
    <script type="text/javascript">
        const beforeUnloadListener = (event) => {
            event.preventDefault();
            return event.returnValue = "Are you sure you want to exit?";
        };
        addEventListener("beforeunload", beforeUnloadListener)
    </script>
</head>
<body>
    <h1>This is sample page</h1>
    <input type="text" id="name">
</body>
</html>